<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/users/sign-up">Sign Up</a> <br>
    <a href="/users/sign-in">Sign In</a> <br>
    <a href="/users/sign-out">Sign Out</a> <br>
    <a href="/posts/create">Create post</a> <br>
  </body>
</html>
