<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>விதைக்குள் விருட்சம்</title>
    
    <%- style %>
    <style>
      #loading {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff url('/images/trippytree.gif') no-repeat center;
        z-index: 999999;
      }
    </style>
    <body
      x-data="{ page: 'home', 'darkMode': true, 'stickyMenu': false, 'navigationOpen': false, 'scrollTop': false }"
      x-init="
          darkMode = JSON.parse(localStorage.getItem('darkMode'));
          $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
      :class="{'b eh': darkMode === true}"
      onload="loadfun()"
      >
      <div id="loading"></div>

      <!-- ===== Header Start ===== -->
      <header
        class="g s r vd ya cj"
        :class="{ 'hh sm _k dj bl ll' : stickyMenu }"
        @scroll.window="stickyMenu = (window.pageYOffset > 20) ? true : false"
      >
        <div class="bb ze ki xn 2xl:ud-px-0 oo wf yf i">
          <div class="vd to/4 tc wf yf">
            <a href="/">
              <img class="om" style="width: 80px;" src="images/logo.png" alt="Logo Light" />
              <img class="xc nm" style="width: 80px;"  src="images/logo.png" alt="Logo Dark" />
            </a>

            <!-- Hamburger Toggle BTN -->
            <button class="po rc" @click="navigationOpen = !navigationOpen">
              <span class="rc i pf re pd">
                <span class="du-block h q vd yc">
                  <span class="rc i r s eh um tg te rd eb ml jl dl" :class="{ 'ue el': !navigationOpen }"></span>
                  <span class="rc i r s eh um tg te rd eb ml jl fl" :class="{ 'ue qr': !navigationOpen }"></span>
                  <span class="rc i r s eh um tg te rd eb ml jl gl" :class="{ 'ue hl': !navigationOpen }"></span>
                </span>
                <span class="du-block h q vd yc lf">
                  <span class="rc eh um tg ml jl el h na r ve yc" :class="{ 'sd dl': !navigationOpen }"></span>
                  <span class="rc eh um tg ml jl qr h s pa vd rd" :class="{ 'sd rr': !navigationOpen }"></span>
                </span>
              </span>
            </button>
            <!-- Hamburger Toggle BTN -->
          </div>

          <div
            class="vd wo/4 sd qo f ho oo wf yf"
            :class="{ 'd hh rm sr td ud qg ug jc yh': navigationOpen }"
          >
            <nav>
              <ul class="tc _o sf yo cg ep">
                <li><a href="/" class="xl red" :class="{ 'mk': page === 'home' }">Home</a></li>
                <li><a href="/posts/category/all" class="xl red">All Posts</a></li>
                <li class="c i" x-data="{ dropdown: false }">
                  <a
                    href="#"
                    class="xl red tc wf yf bg"
                    @click.prevent="dropdown = !dropdown"
                    :class="{ 'mk': page === 'blog-grid' || page === 'blog-single' || page === 'signin' || page === 'signup' || page === '404' }"
                  >
                    Category

                    <svg
                    :class="{ 'wh': dropdown }"
                    class="th mm we fd pf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
                    </svg>
                  </a>

                  <!-- Dropdown Start -->
                  <ul class="a" :class="{ 'tc': dropdown }">
                    <li><a href="/posts/category/valkkai" class="xl" >வாழ்க்கை</a></li>
                    <li><a href="/posts/category/natpu" class="xl" >நட்பு</a></li>
                    <li><a href="/posts/category/iyarkai" class="xl" >இயற்கை</a></li>
                    <li><a href="/posts/category/kadhal" class="xl" >காதல்</a></li>
                    <li><a href="/posts/category/thathuvam" class="xl" >தத்துவம்</a></li>
                    <li><a href="/posts/category/thesapatru" class="xl" >தேசப்பற்று</a></li>
                    <li><a href="/posts/category/ookkam" class="xl" >ஊக்கம்</a></li>   
                    <li><a href="/posts/category/uravu" class="xl" >உறவு</a></li>
                    <li><a href="/posts/category/others" class="xl" >பிற கவிதைகள்</a></li>
                  </ul>
                  <!-- Dropdown End -->
                </li>
                <li><a href="#contact" class="xl red">Contact</a></li>
              </ul>
            </nav>

            <div class="tc wf ig pb no">
            <% if (locals.user) { %>
              <p>
                  <%= locals.user.name %>
              </p>
              <a href="/posts/create" :class="{ ' yl' : page === 'home' : page === 'home' && stickyMenu }" class="ek xl red" >Create New</a>
              <a href="/users/sign-out" :class="{ ' yl' : page === 'home' : page === 'home' && stickyMenu }" class="ek xl red" >Sign Out</a>
            <% } else { %>
              <a href="/users/sign-up" :class="{ ' yl' : page === 'home' : page === 'home' && stickyMenu }" class="ek xl red" >Sign Up</a>
              <a href="/users/sign-in" :class="{ ' ' : page === 'home', 'sh' : page === 'home' && stickyMenu }" class="lk gh dk rg tc wf xf _l gi hi red" >Sign In</a>
            <% } %>
            </div>
          </div>
        </div>
      </header>
      <!-- ===== Header End ===== -->

      <%- body %>
      <!-- ===== Footer Start ===== -->
      <footer>
    <div class="bb ze ki xn 2xl:ud-px-0">
      <!-- Footer Top -->
      <div class="ji gp">
        <div class="tc uf ap gg fp">
          <div class="animate_top zd/2 to/4">
            <a href="/">
              <img src="images/logo.png" width="160px" alt="Logo" class="om" />
              <img src="images/logo.png" width="160px" alt="Logo" class="xc nm" />
            </a>

            <p class="lc fb">தமிழால் வாழ்வோம் தமிழ் கவிதையால் இணைவோம் <br> வாழ்க தமிழ்!</p>

            <ul class="tc wf cg">
              <li>
                <a href="https://www.facebook.com/muthu.vezhappan.7">
                  <svg class="vh ul cl il" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_48_1499)">
                      <path d="M14 13.5H16.5L17.5 9.5H14V7.5C14 6.47 14 5.5 16 5.5H17.5V2.14C17.174 2.097 15.943 2 14.643 2C11.928 2 10 3.657 10 6.7V9.5H7V13.5H10V22H14V13.5Z" fill="" />
                    </g>
                    <defs>
                      <clipPath id="clip0_48_1499">
                        <rect width="24" height="24" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/vezhappan">
                  <svg class="vh ul cl il" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_48_1502)">
                      <path
                        d="M22.162 5.65593C21.3985 5.99362 20.589 6.2154 19.76 6.31393C20.6337 5.79136 21.2877 4.96894 21.6 3.99993C20.78 4.48793 19.881 4.82993 18.944 5.01493C18.3146 4.34151 17.4803 3.89489 16.5709 3.74451C15.6615 3.59413 14.7279 3.74842 13.9153 4.18338C13.1026 4.61834 12.4564 5.30961 12.0771 6.14972C11.6978 6.98983 11.6067 7.93171 11.818 8.82893C10.1551 8.74558 8.52832 8.31345 7.04328 7.56059C5.55823 6.80773 4.24812 5.75098 3.19799 4.45893C2.82628 5.09738 2.63095 5.82315 2.63199 6.56193C2.63199 8.01193 3.36999 9.29293 4.49199 10.0429C3.828 10.022 3.17862 9.84271 2.59799 9.51993V9.57193C2.59819 10.5376 2.93236 11.4735 3.54384 12.221C4.15532 12.9684 5.00647 13.4814 5.95299 13.6729C5.33661 13.84 4.6903 13.8646 4.06299 13.7449C4.32986 14.5762 4.85 15.3031 5.55058 15.824C6.25117 16.345 7.09712 16.6337 7.96999 16.6499C7.10247 17.3313 6.10917 17.8349 5.04687 18.1321C3.98458 18.4293 2.87412 18.5142 1.77899 18.3819C3.69069 19.6114 5.91609 20.2641 8.18899 20.2619C15.882 20.2619 20.089 13.8889 20.089 8.36193C20.089 8.18193 20.084 7.99993 20.076 7.82193C20.8949 7.2301 21.6016 6.49695 22.163 5.65693L22.162 5.65593Z"
                        fill=""
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_48_1502">
                        <rect width="24" height="24" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/muthu-vezhappan-1021b247/">
                  <svg class="vh ul cl il" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_48_1505)">
                      <path
                        d="M6.94 5.00002C6.93974 5.53046 6.72877 6.03906 6.35351 6.41394C5.97825 6.78883 5.46944 6.99929 4.939 6.99902C4.40857 6.99876 3.89997 6.78779 3.52508 6.41253C3.1502 6.03727 2.93974 5.52846 2.94 4.99802C2.94027 4.46759 3.15124 3.95899 3.5265 3.5841C3.90176 3.20922 4.41057 2.99876 4.941 2.99902C5.47144 2.99929 5.98004 3.21026 6.35492 3.58552C6.72981 3.96078 6.94027 4.46959 6.94 5.00002ZM7 8.48002H3V21H7V8.48002ZM13.32 8.48002H9.34V21H13.28V14.43C13.28 10.77 18.05 10.43 18.05 14.43V21H22V13.07C22 6.90002 14.94 7.13002 13.28 10.16L13.32 8.48002Z"
                        fill=""
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_48_1505">
                        <rect width="24" height="24" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
            </ul>
          </div>

          <div class="vd ro tc sf rn un gg vn">
            <div class="animate_top">
              <h4 class="kk wm tj ec">Quick Links</h4>

              <ul>
                <li><a href="/" class="sc xl vb">Home</a></li>
                <li><a href="/posts/category/all" class="sc xl vb">All Posts</a></li>
                <li>
                  <a href="#contact" class="sc xl vb">
                    Contact 
                    <!-- <span class="sc ek uj lk nh rg zi _i nc">Hiring</span> -->
                  </a>
                </li>
              </ul>
            </div>

            <div class="animate_top">
              <h4 class="kk wm tj ec">Categories</h4>

              <ul>
                <li><a href="/posts/category/valkkai" class="sc xl vb">வாழ்க்கை</a></li>
                <li><a href="/posts/category/kadhal" class="sc xl vb">காதல்</a></li>
                <li><a href="/posts/category/natpu" class="sc xl vb">நட்பு</a></li>
                <li><a href="/posts/category/iyarkai" class="sc xl vb">இயற்கை</a></li>
                <li><a href="/posts/category/thathuvam" class="sc xl vb">தத்துவம்</a></li>
                <li><a href="/posts/category/thesapatru" class="sc xl vb">தேசப்பற்று</a></li>
                <li><a href="/posts/category/ookkam" class="sc xl vb">ஊக்கம்</a></li>
                <li><a href="/posts/category/uravu" class="sc xl vb">உறவு</a></li>
                <li><a href="/posts/category/others" class="sc xl vb">பிற கவிதைகள்</a></li>
              </ul>
            </div>


            <div class="animate_top">
              <h4 class="kk wm tj ec">Newsletter</h4>
              <p class="ac qe">எதிர்கால அறிவிப்புகளைப் பெற குழுசேரவும்</p>

              <form action="#" method="POST">
                <div class="i">
                  <input
                    type="text"
                    placeholder="Email address"
                    class="vd sm _g ch pm vk xm rg gm dm dn gi mi"
                  />

                  <button class="h q fi">
                    <svg class="th vm ul" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_48_1487)">
                        <path
                          d="M3.1175 1.17318L18.5025 9.63484C18.5678 9.67081 18.6223 9.72365 18.6602 9.78786C18.6982 9.85206 18.7182 9.92527 18.7182 9.99984C18.7182 10.0744 18.6982 10.1476 18.6602 10.2118C18.6223 10.276 18.5678 10.3289 18.5025 10.3648L3.1175 18.8265C3.05406 18.8614 2.98262 18.8792 2.91023 18.8781C2.83783 18.8769 2.76698 18.857 2.70465 18.8201C2.64232 18.7833 2.59066 18.7308 2.55478 18.6679C2.51889 18.6051 2.50001 18.5339 2.5 18.4615V1.53818C2.50001 1.46577 2.51889 1.39462 2.55478 1.33174C2.59066 1.26885 2.64232 1.2164 2.70465 1.17956C2.76698 1.14272 2.83783 1.12275 2.91023 1.12163C2.98262 1.12051 3.05406 1.13828 3.1175 1.17318ZM4.16667 10.8332V16.3473L15.7083 9.99984L4.16667 3.65234V9.16651H8.33333V10.8332H4.16667Z"
                          fill=""
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_48_1487">
                          <rect width="20" height="20" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Top -->

    </div>
      </footer>
      <!-- ===== Footer End ===== -->

      <!-- ====== Back To Top Start ===== -->
      <button
        class="xc wf xf ie ld vg sr gh tr g sa ta _a"
        @click="window.scrollTo({top: 0, behavior: 'smooth'})"
        @scroll.window="scrollTop = (window.pageYOffset > 50) ? true : false"
        :class="{ 'uc' : scrollTop }"
      >
        <svg class="uh se qd" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z" />
        </svg>
      </button>
      <!-- ====== Back To Top End ===== -->

      <script>
        function fadeOut( elem, ms )
        {
          if( ! elem )
            return;

          if( ms )
          {
            var opacity = 1;
            var timer = setInterval( function() {
              opacity -= 50 / ms;
              if( opacity <= 0 )
              {
                clearInterval(timer);
                opacity = 0;
                elem.style.display = "none";
                elem.style.visibility = "hidden";
              }
              elem.style.opacity = opacity;
              elem.style.filter = "alpha(opacity=" + opacity * 100 + ")";
            }, 50 );
          }
          else
          {
            elem.style.opacity = 0;
            elem.style.filter = "alpha(opacity=0)";
            elem.style.display = "none";
            elem.style.visibility = "hidden";
          }
        }
        var load = document.getElementById("loading");
        
        function loadfun() {
          setTimeout(function() {
            fadeOut(load, 1000)
            // load.style.display = 'none';
          }, 0);  
        }
      </script>
    <%- script %>

    </body>
</html>