<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="icon" href="images/logo.png">

<!-- ===== SignIn Form Start ===== -->
<section class="i pg fh rm ki xn vq gj qp gr hj rp hr">
  <!-- Bg Shapes -->
  <img src="images/shape-06.svg" alt="Shape" class="h j k" />
  <img src="images/shape-03.svg" alt="Shape" class="h l m" />
  <img src="images/shape-17.svg" alt="Shape" class="h n o" />
  <img src="images/shape-18.svg" alt="Shape" class="h p q" />

  <div
    class="animate_top bb af i va sg hh sm vk xm yi _n jp hi ao kp"
  >
    <!-- Bg Border -->
    <span class="rc h r s zd/2 od zg gh"></span>
    <span class="rc h r q zd/2 od xg mh"></span>

    <div class="rj">
      <h2 class="ek ck kk wm xb">Sign in to your Account</h2>

      <h3 class="hk yj kk wm ob mc">Sign in with Social Media</h3>
      <ul class="tc wf xf mg ec">
        <li>
          <a
            class="tc wf xf be dd di sg _g ch qm ml il bm rl/40 ym/40"
            href="#"
          >
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_50_914)">
                <path
                  d="M22.0001 11.2439C22.0134 10.4877 21.9338 9.73268 21.7629 8.99512H11.2246V13.0773H17.4105C17.2933 13.793 17.0296 14.4782 16.6352 15.0915C16.2409 15.7048 15.724 16.2336 15.1158 16.6461L15.0942 16.7828L18.4264 19.3125L18.6571 19.3351C20.7772 17.4162 21.9997 14.5928 21.9997 11.2439"
                  fill="#4285F4"
                />
                <path
                  d="M11.2245 22C14.255 22 16.7992 21.0222 18.6577 19.3355L15.1156 16.6465C14.1679 17.2945 12.8958 17.7467 11.2245 17.7467C9.80508 17.7386 8.42433 17.2926 7.27814 16.4721C6.13195 15.6516 5.27851 14.4982 4.83892 13.1755L4.70737 13.1865L1.24255 15.8143L1.19727 15.9377C2.13043 17.7603 3.56252 19.2925 5.33341 20.3631C7.10429 21.4338 9.14416 22.0005 11.2249 22"
                  fill="#34A853"
                />
                <path
                  d="M4.83889 13.1756C4.59338 12.4754 4.46669 11.7405 4.46388 11.0001C4.4684 10.2609 4.59041 9.52697 4.82552 8.82462L4.81927 8.6788L1.31196 6.00879L1.19724 6.06226C0.410039 7.59392 0 9.28503 0 11C0 12.715 0.410039 14.4061 1.19724 15.9377L4.83889 13.1756"
                  fill="#FBBC05"
                />
                <path
                  d="M11.2249 4.25337C12.8333 4.22889 14.3888 4.8159 15.565 5.89121L18.7329 2.86003C16.7011 0.992106 14.0106 -0.0328008 11.2249 3.27798e-05C9.14418 -0.000452376 7.10433 0.566279 5.33345 1.63686C3.56256 2.70743 2.13046 4.23965 1.19727 6.06218L4.82684 8.82455C5.27077 7.50213 6.12703 6.34962 7.27491 5.5295C8.4228 4.70938 9.80439 4.26302 11.2249 4.25337"
                  fill="#EB4335"
                />
              </g>
              <defs>
                <clipPath id="clip0_50_914">
                  <rect width="22" height="22" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="tc wf xf be dd di sg _g ch qm ml il bm rl/40 ym/40"
            href="#"
          >
            <svg width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.7 12.65H10.45L11.55 8.25H7.7V6.05C7.7 4.917 7.7 3.85 9.9 3.85H11.55V0.154C11.1914 0.1067 9.8373 0 8.4073 0C5.4208 0 3.3 1.8227 3.3 5.17V8.25H0V12.65H3.3V22H7.7V12.65Z"
                fill="#1877F2"
              />
            </svg>
          </a>
        </li>

      </ul>

      <span class="i rc sj hk xj">
        <span class="rc h s z/2 nd oe rh tm"></span>
        <span class="rc h q z/2 nd oe rh tm"></span>

        Or, sign in with your email
      </span>
    </div>

    <form class="sb" action="/users/create-session" method="POST">
      <div class="wb">
        <label class="rc kk wm vb" for="username">Username</label>
        <input
          type="email"
          name="email"
          id="username"
          placeholder="example@gmail.com"
          class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40"
        />
      </div>

      <div class="wb">
        <label class="rc kk wm vb" for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="**************"
          class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40"
        />
      </div>

      <button class="vd rj ek rc rg gh lk ml il _l gi hi" type="submit">
        Sign In
      </button>

      <p class="sj hk xj rj ob">
        Don't have an account?
        <a class="mk" href="/users/sign-up"> Sign Up </a>
      </p>
    </form>
  </div>
</section>
<!-- ===== SignIn Form End ===== -->

<script defer src="javascripts/bundle.js"></script>